<head>
    <title><%= singleCountry %></title>
</head>
<div style="color:white">

    <div class="card-image">
        <figure class="image ">
            <form method="POST" action="/countries/search">
                <div class="form-group column is-12">
                    <div class="input-group">
                        <select class="form-select" id="country" name="country"
                            aria-label="Example select with button addon" required>
                            <option selected disabled value="">Choose a Country</option>
                            <% for( let x = 0; x < countries.length; x++ ) { %>
                            <% country = countries[x] %>
                            <option value="<%=country.name%>"><%=country.name %></option>
                            <% } %>
                        </select>
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
            <h2 class="mb-4 has-text-weight-medium"></h2>
            <%- include('../partials/duplicate') %>
            <hr>
            <img class="flag" src="<%= singleCountry.flags %>" alt="country's flag"
                style="margin-top: 10px;  width: 500px;">
            <br>
            <br>
            <h2 class="mb-4 has-text-weight-medium "><%= singleCountry.name %> </h2>

            <a href="../countries/detail/<%= singleCountry.name %>" style="color:white">Details</a>
            <hr>

            <h4 class="card-text"> Capital: <%= singleCountry.capital %></h4>
            <h4 class="card-text"> Continent: <%= singleCountry.continents %></h4>
            <h4 class="card-text"> Population: <%= singleCountry.population %></h4>
            <h4 class="card-text"> Currency: <%= singleCountry.currencies_name %> -
                <%= singleCountry.currencies %> </h4>
            <h4 class="card-text"> Languages: <%= singleCountry.languages %></h4>

            <hr>
            <% const favoriteArray = [] %>
            <% for( let x = 0; x < userFavorite.length; x++ ) { %>
            <% favoriteArray.push(userFavorite[x].name) %>
            <% } %>

            <% if (favoriteArray.includes(singleCountry.name)) { %>
            <form method="POST" action="/countries/<%= singleCountry.name %>?_method=DELETE">
                <input type="hidden" name="countryName" value="<%=singleCountry.name %>">
                <button type="submit" class="btn btn-light">Remove from Favorite</button>
            </form>
            <% } else {%>

            <form method="POST" action="/favorites/favorite">
                <input type="hidden" name="countryName" value="<%=singleCountry.name %>">
                <input type="hidden" name="countryFlag" value="<%=singleCountry.flags %>">
                <input type="hidden" name="countryContinents" value="<%=singleCountry.continents %>">
                <button type="submit" class="btn btn-outline-light">Add to Favorite</button>
            </form>
            <% } %>
        </figure>

    </div>

</div>