<!-- details page -->
<section class="pt-6">
    <div class="container shadow section-sm rounded">
        <div class="columns is-multiline">
            <div class="column is-12-tablet" style="width: 50%">
                <div class="px-4">
                    <div class="content">
                        <!-- heading -->
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    &nbsp;

                                    <h2 class="mb-4 has-text-weight-medium"></h2>
                                    <hr>
                                    <img class="flag" src="<%= singleCountry.flags %>" alt="'s picture"
                                        style="margin-top: 10px;  width: 500px;">

                                    <h2 class="mb-4 has-text-weight-medium"><%= singleCountry.name %></h2>
                                    <hr>

                                    <p> Capital: <%= singleCountry.capital %></p>
                                    <p> Continen</p>
                                    <p> Currency: <%= singleCountry.currencies_name %> -
                                        <%= singleCountry.currencies %> </p>
                                    <p></p>


                                </figure>
                            </div>
                        </div>



                    </div>
                    <!-- navigation -->
                    <nav class="pagination">
                        <a class="nav nav-prev" href="/crew"><i class="ti-arrow-left mr-2"></i>
                            <span class="d-none d-md-block">Crews</span></a>
                        <a class="nav nav-next" href="/landpads"> <span class="d-none d-md-block">Landpads</span><i
                                class="ti-arrow-right ml-2"></i></a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /details page -->