<head>
    <title><%= singleCountry.name %></title>
</head>
<div class="box-light">
    <div class="card-image">
        <figure class="image ">
            <h2 class="mb-4 has-text-weight-medium"></h2>
            <hr>
            <h2 class="mb-4 has-text-weight-medium "><%= singleCountry.name %></h2>
            <div>
                <div class="row g-0">
                    <div class="col-md-6">
                        <img class="flag" src="<%= singleCountry.flags %>" alt="country's flag"
                            style="margin-top: 10px;  width: 500px;">
                    </div>
                    <div class="col-md-5" style="margin: auto;">
                        <!-- <div class="card-body"> -->

                        <h5 class="card-text" style="margin:15px"> Capital: <%= singleCountry.capital %></h5>
                        <h5 class="card-text"> Continent: <%= singleCountry.continents %></h5>
                        <h5 class="card-text" style="margin:15px"> Population: <%= singleCountry.population %></h5>
                        <h5 class="card-text"> Currency: <%= singleCountry.currencies_name %> -
                            <%= singleCountry.currencies %> </h5>
                        <h5 class="card-text" style="margin:15px"> Languages: <%= singleCountry.languages %></h5>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <iframe width='100%' height='400px' src="<%= mapUrl %>" title="Street view Map"
                    style="border: none;"></iframe>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="box-light">
                        <div class="card-body">
                            <p class="card-text">Official Name</p>
                            <h5 class="card-title"><%= singleCountry.official_name %>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-light">
                        <div class="card-body">
                            <p class="card-text">Other Names
                            </p>
                            <h5 class="card-title"><%= singleCountry.altSpellings %></h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="box-light">
                        <div class="card-body">
                            <p class="card-text">Region</p>
                            <h5 class="card-title"><%= singleCountry.region %>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-light">
                        <div class="card-body">

                            <p class="card-text">Sub-Region</p>
                            <h5 class="card-title"><%= singleCountry.subregion %></h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="box-light">
                        <div class="card-body">
                            <p class="card-text">Favorite</p>
                            <% const favoriteArray = [] %>
                            <% for( let x = 0; x < userFavorite.length; x++ ) { %>
                            <% favoriteArray.push(userFavorite[x].name) %>
                            <% } %>
                            <% if (favoriteArray.includes(singleCountry.name)) { %>
                            <form method="POST" action="/countries/detail/<%= singleCountry.name %>?_method=DELETE">
                                <input type="hidden" name="countryName" value="<%=singleCountry.name %>">
                                <button type="submit" class="btn btn-light">Remove from Favorite</button>
                            </form>
                            <% } else {%>

                            <form method="POST" action="/countries/detail/<%= singleCountry.name %>">
                                <input type="hidden" name="countryName" value="<%=singleCountry.name %>">
                                <input type="hidden" name="countryFlag" value="<%=singleCountry.flags %>">
                                <input type="hidden" name="countryContinents" value="<%=singleCountry.continents %>">
                                <button type="submit" class="btn btn-outline-light">Add to Favorite</button>
                            </form>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="box-light">
                        <div class="card-body">

                            <p class="card-text">Coat Of Arms</p>
                            <h5 class="card-title"><img src="<%= singleCountry.coatOfArms %>" alt=""
                                    style="width: 100px;"></h5>
                        </div>
                    </div>
                </div>

            </div>

            <hr>
            <div class="box-light">
                <div class="card-header text-bg-warning" style="padding: 10px">

                    <h4>Current Weather in <%= singleCountry.capital %>, <%= singleCountry.name %></h4>

                </div>
                <div>
                    <table class="table" style="text-align: center; background-color:white">
                        <thead>
                            <tr>
                                <th scope="col">Condition</th>
                                <th scope="col">Temperature</th>
                                <th scope="col">Feels Like</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><%= currentWeather.condition.text %>
                                    <img src="https:<%= currentWeather.condition.icon %>" alt="">
                                </th>
                                <td><%= currentWeather.temp_c %>C / <%= currentWeather.temp_f %>F
                                </td>
                                <td><%= currentWeather.feelslike_c %>C /
                                    <%= currentWeather.feelslike_f %>F</td>

                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </figure>
    </div>
</div>